p {
  font-size: 20px;
  padding: 20px;
}

p {
  color: blue;
  background: orange;
}

p {
  color: blue;
  background: gray;
}

a {
  color: white;
  background: #8844EE;
  text-decoration: none;
}

a:hover {
  background: #c4a2f7;
}

div {
  box-shadow: 5px 5px 5px 0 #000;
}

div.active {
  box-shadow: 25px 25px 25px 0 #666;
}

div {
  font-size: 1.5em;
}

@media (max-width: 600px) {
  div {
    font-size: 1.2em;
  }
}

h1 {
  color: blue;
  font-size: 4em;
  font-weight: bold;
  font-family: monospace;
  line-height: 1;
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.5), 15px 15px 0 0 rgba(0, 0, 0, 0.5), 20px 10px 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.5), 15px 15px 0 0 rgba(0, 0, 0, 0.5), 20px 10px 0 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.5), 15px 15px 0 0 rgba(0, 0, 0, 0.5), 20px 10px 0 0 rgba(0, 0, 0, 0.5);
}

h1::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background: #84E;
}

@media (max-width: 600px) {
  h1 {
    color: pink;
  }
}

div {
  background: #999;
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div a {
  color: pink;
  background: blue;
  font-family: monospace;
}

ul {
  text-align: center;
}

ul li {
  display: inline-block;
  list-style: none;
}

ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  background: blue;
  color: white;
}

ul li a:hover {
  background: pink;
}
