$roxo: #8844EE;


@function em($pixels, $contexto: 16){
  @return ($pixels/ $contexto)*1em;
}

a{
  color: white;
  background: $roxo;
  text-decoration:none;
  @include type-1(large);
    &:hover{
      background: lighten($roxo, 20%);
    }
}


li {
  font-size: em(24);
}