@import "colors";


$preto: #999;
$font-primary: monospace;

div{
    background: $preto;
    height: 200px;
    width: 200px;
    a {
        color: pink;
        background: blue;
        font-family: $font-primary;
    }
}

ul {
    text-align: center;
    li{
        display: inline-block;
        list-style: none;
        a {
            display: block;
            padding: 20px;
            text-decoration: none;
            background: blue;
            color: white;
            &:hover{
                background: pink;
            }
        }
    }
}