@import "colors";


$preto: #999;
$font-primary: monospace;

div{
    background: $preto;
    height: 200px;
    width: 200px;
    a {
        color: pink;
        background: blue;
        font-family: $font-primary;
    }
}