//operadores
p{
    font-size: 10px + 10;
    padding: 20px;
}

//Condicionais

$tema: oceano;
$primary-color: black;
$secondary-color: gray;

@if $tema == oceano{
    $primary-color: blue;
    $secondary-color: orange;
} @else if $tema == deserto{
    $primary-color: yellow;
    $secondary-color: purple
}

p{
    color: $primary-color;
    background: $secondary-color;
}

@import "colors";

//mixin
@mixin title-large{
    font-size: 4em;
    font-weight: bold;
    font-family: monospace;
    line-height: 1;
}

@mixin border-box{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

//exemplo de mixin com parametros

@mixin separador($color: blue, $largura: 100px){
    &::after{
        content: '';
        display: block;
        width: 100px;
        height: 4px;
        background: $color;
    }
}

@mixin box-shadow($shadow...){
    box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
}


//mixin content mobile exemplo

@mixin mobile{
    @media (max-width: 600px){
        @content;
    }
}

@mixin type-1($size){
    font-family: monospace;
    @if $size == normal {
        font-size: 1em;
    }
    @else if $size ==large{
        font-size: 1.125em;
    }
    @else if $size == x-large {
        font-size: 1.5em;
    }

    p {
        @include type-1(16);
    }

}

@mixin shadow($type){
    @if $type == 1 {
        box-shadow: 5px 5px 5px 0 #000;
    }
    @else if $type == 2 {
        box-shadow: 15px 15px 15px 0 #333;
    }
    @else if $type == 3 {
        box-shadow: 25px 25px 25px 0 #666;
    }
}

div {
    @include shadow(1);
}
div.active {
    @include shadow(3);
}


$preto: #999;
$font-primary: monospace;
$cor-primary: blue;

h1{
    color: $cor-primary;
    @include title-large;
    @include separador(#84E, 200px);
    @include box-shadow(10px 10px 0 0 rgba(0,0,0,.5),
                        15px 15px 0 0  rgba(0,0,0,.5),
                       20px 10px 0 0 rgba(0,0,0,.5));

    @include mobile{
        color:pink;
    }
}
div{
    background: $preto;
    height: 200px;
    width: 200px;
    @include border-box;
    a {
        color: pink;
        background: blue;
        font-family: $font-primary;
    }
}


ul {
    text-align: center;
    li{
        display: inline-block;
        list-style: none;
        a {
            display: block;
            padding: 20px;
            text-decoration: none;
            background: blue;
            color: white;
            &:hover{
                background: pink;
            }
        }
    }
}